<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%-5level] %d{HH:mm:ss.SSS} [%thread %c %F] %method - %msg%n
            </pattern>
        </encoder>
    </appender>
    <logger name="com.elbigs"   level="info"/>
    <logger name="org"          level="info"/>
    <logger name="javax"        level="info"/>
    <logger name="sun"          level="info"/>
    <logger name="jdbc.audit"   level="warn"/>
    <logger name="com.zaxxer"   level="warn"/>

	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
