<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elbigs.mybatisMapper.ShopMapper">
    <resultMap id="selectShopListResult" type="com.elbigs.entity.ShopEntity" autoMapping="true">
        <id column="shop_id" property="shopId"/>
        <association property="user" javaType="com.elbigs.entity.CmsUserEntity">
            <result property="loginId" column="login_id" />
            <result property="name" column="user_name" />
        </association>
    </resultMap>
    <select id="selectShopList" resultMap="selectShopListResult">
        select i1.shop_id
             , max(i1.name) as "name"
             , max(user_name) as user_name
             , max(i1.phone) as phone
             , sum(case when sd.screen_ratio = '1' then 1 else 0 end) x_ratio_count
             , sum(case when sd.screen_ratio = '2' then 1 else 0 end) y_ratio_count
             , count(sd.shop_device_id) device_count
             , sum(case when extract(epoch from (now() - sd.last_check_at::timestamp))::integer &lt; 60 then 1 else 0 end ) active_count
             , max(i1.created_at) created_at
             , max(i1.status) as status
             , total_count
          from (
                select s.shop_id
                     , s."name"
                     , s.status
                     , s.phone
                     , s.created_at
                     , u.name as user_name
                     , u.phone as user_phone
                     , count(1) over() total_count
                  from shop s join cms_user u on u.shop_id = s.shop_id
                 where 1 = 1
                 order by s.created_at desc
                <if test="length > 0">
                 limit #{length} offset #{beginNo}
                </if>
               ) i1
          join shop_device sd on sd.shop_id = i1.shop_id
         group by i1.shop_id, total_count
    </select>
</mapper>
