<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elbigs.mybatisMapper.UserMapper">
    <select id="selectUserRoles" resultType="java.lang.String">
        select roles
          from user_roles
         where login_id = #{loginId}
    </select>
</mapper>
